body {
    background-image: url('../../assets/images/bg_circuit.png');
    display: flex;
    justify-content: center;
}

#body-container {
    background-color: rgb(0, 55, 235);
    width: 900px;
    min-height: 100vh;
}