body {
    display: flex;
    justify-content: center;
    background-color: blue;
    padding-top: 20px;
    background-position: center;
}

#body-container {
    width: 720px;
    min-height: 100vh;
}

header {
    height: 200px;
    width: 100%;
    background-color: #00FA04;
    background-image: url('../../assets/images/bg/header_01.png');
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

header :nth-child(1) {
    transform: scaleX(1.3);
    z-index: 10;
    box-shadow: 4px 12px 0px black;
}

header :nth-child(2) {
    transform: scaleY(2) translate(500px, 30px);
    z-index: 9;
}

main {
    width: 100%;
    margin: 20px;
    height: 100%;
    background-color: black;
    padding: 20px;
}

#welcome {
    padding: 0px 20px 10px 20px;
}

#welcome :nth-child(1) {
    transform: translate(60px, -30px);

}

#welcome :nth-child(2) {
    transform: translate(-20px, -30px);
}

#welcome :nth-child(3) {
    position: absolute;
    transform: translate(70px, 40px);
    height: 60px;
}

#welcome :nth-child(4) {
    position: absolute;
    transform: translate(-500px, 80px);
    height: 120px;
    cursor: pointer;
}

#welcome :nth-child(5) {
    position: absolute;
    transform: translate(-20px, 0px);
    z-index: 1000;
}

#welcome :nth-child(6) {
    position: absolute;
    transform: translate(-600px, 0px);
    width: 120px;
}

hr {
    transform: scaleX(1.1) scaleY(2.4);
    color: white;
}

#logo,
#fish {
    cursor: pointer;
}