@font-face {
    font-family: 'MS Gothic';
    src: url('../assets/fonts/MSGOTHIC.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
    font-family: 'MS Gothic', sans-serif;
    color: white;
}